<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Tv Program Schedule Database</title>
	<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css' />
	<link href="{{ asset('bundles/tvdatabasehome/css/style.css') }}" rel="stylesheet" type="text/css" media="screen" />
	{% block stylesheets %}
	{% endblock %}
	<script type='text/javascript'>
		function goLogIn(){
	        window.location.href = "{{ path("_security_check") }}";
	    }

	    function onFbInit() {
		    
	        if (typeof(FB) != 'undefined' && FB != null ) {

	        	FB.Event.subscribe('auth.login', function(response){
		            
		            if (response.session || response.authResponse) {
		                //alert("auth status change login");
	                    //setTimeout(goLogIn, 500);
	                } else {
		                //alert("auth status change logout");
	                    window.location.href = "{{ path("_security_logout") }}";
	                }
	            });
				
	        	//FB.Event.subscribe('auth.logout', function(response){
		            //alert("auth.logout");
	            //});
	        	
	        	//FB.Event.subscribe('auth.authResponseChange', function(response){
		            //alert("auth response");
	            //});
	        	
	            FB.Event.subscribe('auth.statusChange', function(response) {

		                
	                if (response.session || response.authResponse) {
		                //alert("auth status change login");
	                    setTimeout(goLogIn, 500);
	                } else {
		                //alert("auth status change logout");
	                    window.location.href = "{{ path("_security_logout") }}";
	                }
	            });
	        }
	        else
	        {
		        alert("FB not initialized");
		    }
	    }
	    function objToString (obj) {
	        var str = '';
	        for (var p in obj) {
	            if (obj.hasOwnProperty(p)) {
	                str += p + '::' + obj[p] + '\n';
	            }
	        }
	        return str;
	    }
	</script>
	{% block script %}
	{% endblock %}
</head>
{% block bodyopen %}
<body>
{% endblock %}
	{{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}
	{{ facebook_login_button({'autologoutlink': true}) }}
	<a href="/en">en</a>
	<a href="/sr">sr</a>
	<a href="/cyrl">cyrl</a>
	<div id="wrapper">
		<div id="header-wrapper">
			<div id="header">
				<div id="logo">
					<h1><a href="#">{% trans %}Tv Program Schedule Database{% endtrans %}</a></h1>
				</div>
			</div>
		</div>
	</div>
	<div id="menu-wrapper">
		<div id="menu">
			<ul>
				{% block mainmany %}
					<li class="current_page_item" ><a href="/{{ _locale }}">{% trans %}Home{% endtrans %}</a></li>
					<li><a href="/{{ _locale }}/tvstations">{% trans %}Tv Stations{% endtrans %}</a></li>
					<li><a href="/{{ _locale }}/advancedsearch">{% trans %}Detailed View{% endtrans %}</a></li>
					<li><a href="/{{ _locale }}/search">{% trans %}Search{% endtrans %}</a></li>
				{% endblock %}
			</ul>
		</div>
	</div>
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="page-content">
					<div id="content">
						{% block content %}
						{% endblock %}
						<div style="clear: both;">&nbsp;</div>
					</div>
					<div id="sidebar">
						{% block sidebar %}
						<ul>
							<li>
								<h2>Aliquam tempus</h2>
								<p>Mauris vitae nisl nec metus placerat perdiet est. Phasellus dapibus semper consectetuer hendrerit.</p>
							</li>
							<li>
								<h2>Categories</h2>
								<ul>
									<li><a href="#">Aliquam libero</a></li>
									<li><a href="#">Consectetuer adipiscing elit</a></li>
									<li><a href="#">Metus aliquam pellentesque</a></li>
									<li><a href="#">Suspendisse iaculis mauris</a></li>
									<li><a href="#">Urnanet non molestie semper</a></li>
									<li><a href="#">Proin gravida orci porttitor</a></li>
								</ul>
							</li>
							<li>
								<h2>Blogroll</h2>
								<ul>
									<li><a href="#">Aliquam libero</a></li>
									<li><a href="#">Consectetuer adipiscing elit</a></li>
									<li><a href="#">Metus aliquam pellentesque</a></li>
									<li><a href="#">Suspendisse iaculis mauris</a></li>
									<li><a href="#">Urnanet non molestie semper</a></li>
									<li><a href="#">Proin gravida orci porttitor</a></li>
								</ul>
							</li>
							<li>
								<h2>Archives</h2>
								<ul>
									<li><a href="#">Aliquam libero</a></li>
									<li><a href="#">Consectetuer adipiscing elit</a></li>
									<li><a href="#">Metus aliquam pellentesque</a></li>
									<li><a href="#">Suspendisse iaculis mauris</a></li>
									<li><a href="#">Urnanet non molestie semper</a></li>
									<li><a href="#">Proin gravida orci porttitor</a></li>
								</ul>
							</li>
						</ul>
						{% endblock %}
					</div>
				</div>
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<div id="footer">
	<p>Praksa 2012</p>
</div>
</body>
</html>