{% extends '::base.html.twig' %}

{% block script %}

{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/tvdatabasehome/css/stations.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/tvdatabasehome/css/catalogue.css') }}" />
{% endblock %}

{% block mainmany %}
	<li>
{# 	<a href="/{{ _locale }}">{% trans %}Home{% endtrans %}#}
	<a href="{{ path('tv_database_home_homepage')}}">{% trans %}Home{% endtrans %}</a></li>
	<li>
{# 	<a href="/{{ _locale }}/tvstations">{% trans %}Tv Stations{% endtrans %}</a></li>#}
	<a href="{{ path('tv_database_stations_page')}}">{% trans %}Tv Stations{% endtrans %}</a></li>
	<li>
{# 	<a href="/{{ _locale }}/advancedsearch">{% trans %}Detailed View{% endtrans %}</a>#}
	<a href="{{ path('tv_database_program_page') }}">{% trans %}Detailed View{% endtrans %}</a></li>
	<li>
{# 	<a href="/{{ _locale }}/search">{% trans %}Search{% endtrans %}</a>#}
	<a href="{{ path('tv_database_search') }}">{% trans %}Search{% endtrans %}</a></li>
{% endblock %}

{% block content %}
	{% for set in entity.entityType.attributeSets %}
		<div id="attribute-set">{{ set.AttributeSetName }}</div>
			{% for attribute in set.attributes %}
				<div id="attribute">{{ attribute.AttributeName }}
{# 				<a href="/{{ _locale }}/addNew/{{ entity.EntityId }}/{{set.AttributeSetId }}/{{ attribute.AttributeId }}">edit/add</a></div>#}
				<a href=
				"{{ path('tv_database_add_new_attribute', 
				{'entity' : entity.EntityId,
				 'set' : set.AttributeSetId,
				 'attribute' : attribute.attributeId}) }}">edit/add</a></div>
			{% endfor %}
	{% endfor %}
{% endblock %}

  
