{% extends '::base.html.twig' %}

{% block stylesheets %}


{% endblock %}

{% block script %}

{% endblock %}

{% block mainmany %}
	<li><a href="/">Home</a></li>
	<li><a href="/tvstations">Tv Stations</a></li>
	<li class="current_page_item" ><a href="/advancedsearch">Advanced Search</a></li>
{% endblock %}

{% block content %} 

	<table>
		<tr>
			<th>Televison</th>
			<th>Time</th>
			<th>Program Name</th>
		</tr>
		{% for entity in pagerfanta.currentPageResults %}

			<tr>
				<td>{{ entity.tv.TvName }}</td>
				<td>{{ entity.Datetime|date("m/d/Y") }}</td>
				{%  for attribute in entity.attributes %}
				
					{% if attribute.attributeMeta.AttributeName == "Name" %}
						<td>{{ attribute.Value }}</td>
					{% endif %}
					
				{% endfor %}
			</tr>
			
    		<!--  li>{{ entity.Datetime|date("m/d/Y") }} </li-->

		{% endfor %}
	
	</table>
	<div class="pagerfanta">{{ pagerfanta(pagerfanta, 'default') }}</div>
{% endblock %}


