{% extends '::base.html.twig' %}

{% block stylesheets %}


{% endblock %}

{% block script %}

{% endblock %}

{% block mainmany %}
	<li >
{# 	<a href="/{{ _locale }}">{% trans %}Home{% endtrans %}#}
	<a href="{{ path('tv_database_home_homepage')}}">{% trans %}Home{% endtrans %}</a></li>
	<li>
{# 	<a href="/{{ _locale }}/tvstations">{% trans %}Tv Stations{% endtrans %}</a></li>#}
	<a href="{{ path('tv_database_stations_page')}}">{% trans %}Tv Stations{% endtrans %}</a></li>
	<li class="current_page_item">
{# 	<a href="/{{ _locale }}/advancedsearch">{% trans %}Detailed View{% endtrans %}</a>#}
	<a href="{{ path('tv_database_program_page') }}">{% trans %}Detailed View{% endtrans %}</a></li>
	<li>
{# 	<a href="/{{ _locale }}/search">{% trans %}Search{% endtrans %}</a>#}
	<a href="{{ path('tv_database_search') }}">{% trans %}Search{% endtrans %}</a></li>
{% endblock %}

{% block content %} 

	<table>
		<tr>
			<th>{% trans %}Televison{% endtrans %}</th>
			<th>{% trans %}Date{% endtrans %}</th>
			<th>{% trans %}Time{% endtrans %}</th>
			<th>{% trans %}Program Name{% endtrans %}</th>
		</tr>
		{% for entity in pagerfanta.currentPageResults %}

			<tr>
				<td><a href="/{{ _locale }}/tv/{{ entity.tv.TvId }}" >{{ entity.tv.TvName }}</a></td>
				<td>{{ entity.Datetime|date("d.m.Y") }}</td>
				<td><a href="/{{ _locale }}/show/{{ entity.EntityId }}">{{ entity.Datetime|date("H:i") }}</a></td>
				{%  for attribute in entity.attributes %}
				
					{% if attribute.attributeMeta.AttributeName == "Name" %}
						<td>{{ attribute.Value }}</td>
					{% endif %}
					
				{% endfor %}
			</tr>
			
    		<!--  li>{{ entity.Datetime|date("m/d/Y") }} </li-->

		{% endfor %}
	
	</table>
	<div style='text-align: center;' class="pagerfanta">{{ pagerfanta(pagerfanta, 'default') }}</div>
{% endblock %}


