{% extends '::base.html.twig' %}

{% block stylesheets %}
	<link href='{{ asset('bundles/tvdatabasehome/css/jqueryui.css') }}' rel="stylesheet" type="text/css" />
	<link href='{{ asset('bundles/tvdatabasehome/css/jqery.multiselect.css') }}' rel="stylesheet" type="text/css" />
	<link href='{{ asset('bundles/tvdatabasehome/css/dropdownchecklist.css') }}' rel="stylesheet" type="text/css" />
	<link href='{{ asset('bundles/tvdatabasehome/css/timepickeraddon.css') }}' rel="stylesheet" type="text/css" />
{% endblock %}

{% block script %}
	<script type='text/javascript' src='{{ asset('bundles/tvdatabasehome/javascript/jquery-1.9.0.min.js') }}'></script>
	<script type='text/javascript' src='{{ asset('bundles/tvdatabasehome/javascript/jquery-ui-1.10.0.custom.js') }}'></script>
	<script type='text/javascript' src='{{ asset('bundles/tvdatabasehome/javascript/timepickeraddon.js') }}'></script>
	<script type='text/javascript' src='{{ asset('bundles/tvdatabasehome/javascript/jquery.multiselect.js') }}'></script>
	<script type='text/javascript' src='{{ asset('bundles/tvdatabasehome/javascript/dropdownchecklist.js') }}'></script>
	<script type='text/javascript' src='{{ asset('bundles/tvdatabasehome/javascript/searchForm.js') }}'></script>
{% endblock %}

{% block bodyopen %}
	<body onload='bodyLoad()'>
{% endblock %}

{% block mainmany %}
	<li><a href="/{{ _locale }}">{% trans %}Home{% endtrans %}</a></li>
	<li><a href="/{{ _locale }}/tvstations">{% trans %}Tv Stations{% endtrans %}</a></li>
	<li class="current_page_item" ><a href="/{{ _locale }}/advancedsearch">{% trans %}Advanced Search{% endtrans %}</a></li>
{% endblock %}

{% block content %} 

	<form action="/{{ _locale }}/advancedsearchresponse" method="post" >
		<table>
			<tr>
				<td><label>{% trans %}Broadcast Types{% endtrans %}: </label></td>
				<td><select id="broadcastType" name="broadcastType" multiple="multiple">
						{% for type in types %}
							<option>{{type}}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td><label>{% trans %}Televisions{% endtrans %}: </label></td>
				<td>
					<select id="televisions" name="televisions" multiple="multiple">
						{% for name in televisions %}
							<option>{{name}}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td><label>{% trans %}Start date and time{% endtrans %}: </label></td>
				<td><input type='text' id='startDate' name='startDate'><br /></td>
			</tr>
			<tr>
				<td><label>{% trans %}End date and time{% endtrans %}: </label></td>
				<td><input type='text' id='endDate' name='endDate'/></td>
			</tr>
				<td></td>
				<td><input id='submitButton' type='submit' value='{% trans %}Search{% endtrans %}' /></td>
			</tr>
		</table>
	</form>

{% endblock %}


