{% extends '::base.html.twig' %}

{% block script %}

{% endblock %}

{% block mainmany %}
	<li>
{# 	<a href="/{{ _locale }}">{% trans %}Home{% endtrans %}#}
	<a href="{{ path('tv_database_home_homepage')}}">{% trans %}Home{% endtrans %}</a></li>
	<li>
{# 	<a href="/{{ _locale }}/tvstations">{% trans %}Tv Stations{% endtrans %}</a></li>#}
	<a href="{{ path('tv_database_stations_page')}}">{% trans %}Tv Stations{% endtrans %}</a></li>
	<li>
{# 	<a href="/{{ _locale }}/advancedsearch">{% trans %}Detailed View{% endtrans %}</a>#}
	<a href="{{ path('tv_database_program_page') }}">{% trans %}Detailed View{% endtrans %}</a></li>
	<li>
{# 	<a href="/{{ _locale }}/search">{% trans %}Search{% endtrans %}</a>#}
	<a href="{{ path('tv_database_search') }}">{% trans %}Search{% endtrans %}</a></li>
{% endblock %}

{% block content %}
<form action="{{ path('tv_database_edit_attribute',{'attribute' : attribute.ValueId}) }}" method="post">
<table>
	<tr>
		<td>Entity Name:</td>
		<td>{{ attribute.entity.entityType.EntityTypeName }}</td>
		<td>ID:</td>
		<td>{{ attribute.Entity.EntityTypeId }}</td>
	</tr>
	<tr>
		<td>Set Name:</td>
		<td>{{ attribute.attributeSetMeta.AttributeSetName }}</td>
		<td>ID:</td>
		<td>{{ attribute.AttributeSetId }}</td>
	</tr>
	<tr>
		<td>Name:</td>
		<td>{{ attribute.attributeMeta.AttributeName }}</td>
		<td>ID:</td>
		<td>{{ attribute.AttributeId }}</td>
	</tr>
	<tr>
		<td>Value:</td>
		<td>
		<!--  input type="text" name="value" value="{{ attribute.value }}" /-->
		<textarea rows="4" cols="50" name="value">{{ attribute.value }}</textarea>
		</td>
	</tr>
	<tr>
		<td><input type="submit" value="accept"></td>
	</tr>
</table>
</form>
{# <a href="/{{ _locale }}/show/{{ entity.EntityId }}">{% trans %}Back{% endtrans %}</a>#}
<a href="{{ path('tv_database_show_broadcast', {'id' : entity.EntityId}) }}">{% trans %}Back{% endtrans %}</a>
{% endblock %}

  
