{% extends '::base.html.twig' %}

{% block stylesheet %}

{% endblock %}

{% block script %}

{% endblock %}

{% block content %} 
	{% for result in results %}
	<div id="TV">
	{{ result.tv }}
	<div id="broadcast table">
		<table>
			<tr>
				<td>{{ result.shows }}</td>
				<td>{{ result.name }}</td>
				<td id="details"><a href="/show/{{ result.nameId }}">details-></a>
			</tr>
			<tr>
				<td>{{ result.showsNext }}</td>
				<td>{{ result.nameNext }}</td>
				<td id="details"><a href="/show/{{ result.nameNextId }}">details-></a>
			</tr>
		</table>
	</div>
	</div>
	{% endfor %}

{% endblock %}


