{% extends '::base.html.twig' %}

{% block stylesheet %}

{% endblock %}

{% block script %}

{% endblock %}

{% block mainmany %}
	<li class="current_page_item" ><a href="/">Home</a></li>
	<li><a href="/tvstations">Tv Stations</a></li>
	<li><a href="/advancedsearch">Advanced Search</a></li>
{% endblock %}

{% block content %} 
	{% for result in results %}
	<div id="TV">
	<a href="/tv/{{result.tv.tvid}}">{{ result.tv.tvname }}</a>
	<div id="broadcast table">
		<table>
			<tr>
				<td>{{ result.shows }}</td>
				<td>{{ result.name }}</td>
				<td id="details"><a href="/show/{{ result.nameId }}">details-></a>
			</tr>
			<tr>
				<td>{{ result.showsNext }}</td>
				<td>{{ result.nameNext }}</td>
				<td id="details"><a href="/show/{{ result.nameNextId }}">details-></a>
			</tr>
		</table>
	</div>
	</div>
	{% endfor %}

{% endblock %}


