{% extends '::base.html.twig' %}

{% block stylesheet %}

{% endblock %}

{% block script %}

{% endblock %}

{% block mainmany %}
	<li class="current_page_item" ><a href="/{{ _locale }}">{% trans %}Home{% endtrans %}</a></li>
	<li><a href="/{{ _locale }}/tvstations">{% trans %}Tv Stations{% endtrans %}</a></li>
	<li><a href="/{{ _locale }}/advancedsearch">{% trans %}Advanced Search{% endtrans %}</a></li>
{% endblock %}

{% block content %} 
	{% for result in results %}
	<div id="TV">
	<a href="/{{ _locale }}/tv/{{result.tv.tvid}}">{{ result.tv.tvname }}</a>
	<div id="broadcast table">
		<table>
			<tr>
				<td>{{ result.shows }}</td>
				<td><a href="/{{ _locale }}/show/{{ result.nameId }}">{{ result.name }}</td>
			</tr>
			<tr>
				<td>{{ result.showsNext }}</td>
				<td><a href="/{{ _locale }}/show/{{ result.nameNextId }}">{{ result.nameNext }}</td>
			</tr>
		</table>
	</div>
	</div>
	{% endfor %}

{% endblock %}


