{% extends '::base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/tvdatabasehome/css/stations.css') }}" />
{% endblock %}

{% block script %}

{% endblock %}

{% block mainmany %}
	<li><a href="/{{ _locale }}">{% trans %}Home{% endtrans %}</a></li>
	<li><a href="/{{ _locale }}/tvstations">{% trans %}Tv Stations{% endtrans %}</a></li>
	<li><a href="/{{ _locale }}/advancedsearch">{% trans %}Advanced Search{% endtrans %}</a></li>
	<li><a href="/{{ _locale }}/search">{% trans %}Search{% endtrans %}</a></li>
{% endblock %}

{% block content %} 
	<div id="show">

		{% for attribute in attributes %}
			<div id="{{ attribute.name }}">
			{% if attribute.name == "Link" %}
				<a href={{ attribute.value }}> link </a>
			{% elseif attribute.name == "Picture" %}
				<img src={{ attribute.value }}>
			{% else %}
				{{ attribute.name }}: {{ attribute.value }}
			{% endif %}
			</div>
		{% endfor %}

	</div>
{% endblock %}

  
