{% extends '::base.html.twig' %}

{% block stylesheets %}
	<link href='{{ asset('bundles/tvdatabasehome/css/jqueryui.css') }}' rel="stylesheet" type="text/css" />
	<link href='{{ asset('bundles/tvdatabasehome/css/jqery.multiselect.css') }}' rel="stylesheet" type="text/css" />
	<link href='{{ asset('bundles/tvdatabasehome/css/dropdownchecklist.css') }}' rel="stylesheet" type="text/css" />
	<link href='{{ asset('bundles/tvdatabasehome/css/timepickeraddon.css') }}' rel="stylesheet" type="text/css" />
	<link href='{{ asset('bundles/tvdatabasehome/css/showTV.css') }}' rel="stylesheet" type="text/css" />
{% endblock %}

{% block script %}
	<script type='text/javascript' src='{{ asset('bundles/tvdatabasehome/javascript/jquery-1.9.0.min.js') }}'></script>
	<script type='text/javascript' src='{{ asset('bundles/tvdatabasehome/javascript/jquery-ui-1.10.0.custom.js') }}'></script>
	<script type='text/javascript' src='{{ asset('bundles/tvdatabasehome/javascript/timepickeraddon.js') }}'></script>
	<script type='text/javascript' src='{{ asset('bundles/tvdatabasehome/javascript/jquery.multiselect.js') }}'></script>
	<script type='text/javascript' src='{{ asset('bundles/tvdatabasehome/javascript/dropdownchecklist.js') }}'></script>
	<script type='text/javascript' src='{{ asset('bundles/tvdatabasehome/javascript/searchForm.js') }}'></script>
{% endblock %}

{% block bodyopen %}
	<body onload='bodyLoad()'>
{% endblock %}

{% block mainmany %}
	<li><a href="/{{ _locale }}">{% trans %}Home{% endtrans %}</a></li>
	<li class="current_page_item" ><a href="/{{ _locale }}/tvstations">{% trans %}Tv Stations{% endtrans %}</a></li>
	<li><a href="/{{ _locale }}/advancedsearch">{% trans %}Detailed View{% endtrans %}</a></li>
	<li><a href="/{{ _locale }}/search">{% trans %}Search{% endtrans %}</a></li>
{% endblock %}

{% block content %} 
	<div id="stations_table">
	<div>{{ date.today }}</div>
	<form action="/{{ _locale }}/tv/{{ tv.TvId }}" method="post">
	<table>
    	<tr>
    	    <td>
    	        <label>{% trans %}Select date{% endtrans %}:</label></td>
    	    <td>
    	        <input type='text' id='startDate' name='startDate'></td>
    	    <td>
    	        <input type='submit' value='{% trans %}View{% endtrans %}'></td>
    	</tr>
	</table>
	</form>
	<div id="date-prev"><a href="/{{ _locale }}/tv/{{ tv.TvId }}/{{ date.yesterday }}">{% trans %}Day before{% endtrans %}</a></div>
	<div id="date-today"><a href="/{{ _locale }}/tv/{{ tv.TvId }}">{% trans %}Today{% endtrans %}</a></div>
	<div id="date-next"><a href="/{{ _locale }}/tv/{{ tv.TvId }}/{{ date.tomorrow }}">{% trans %}Day after{% endtrans %}</a></div>
	<div style='clear:both'>
	</div>
		<table>
			<tr>
				<th>{{ tv.TvName }}</th>
			</tr>
			{% for program in results %}
				<tr>
					<td>{{ program.datetime.format('H:i')}}</td>
					<td><a href="/{{ _locale }}/show/{{program.EntityId}}">
					{% for attribute in program.attributes %}
						{% if attribute.AttributeId == 7 and attribute.AttributeSetId == 1 %} 
							{{ attribute.Value }} 
						{% endif %}
					{% endfor %}
					</td>
				</tr>			
			{% endfor %}
		</table>
	</div>
{% endblock %}

 
