{% extends '::base.html.twig' %}

{% block stylesheets %}
	<link href='{{ asset('bundles/tvdatabasehome/css/jqueryui.css') }}' rel="stylesheet" type="text/css" />
	<link href='{{ asset('bundles/tvdatabasehome/css/jqery.multiselect.css') }}' rel="stylesheet" type="text/css" />
	<link href='{{ asset('bundles/tvdatabasehome/css/dropdownchecklist.css') }}' rel="stylesheet" type="text/css" />
	<link href='{{ asset('bundles/tvdatabasehome/css/timepickeraddon.css') }}' rel="stylesheet" type="text/css" />
{% endblock %}

{% block script %}
	<script type='text/javascript' src='{{ asset('bundles/tvdatabasehome/javascript/jquery-1.9.0.min.js') }}'></script>
	<script type='text/javascript' src='{{ asset('bundles/tvdatabasehome/javascript/jquery-ui-1.10.0.custom.js') }}'></script>
	<script type='text/javascript' src='{{ asset('bundles/tvdatabasehome/javascript/timepickeraddon.js') }}'></script>
	<script type='text/javascript' src='{{ asset('bundles/tvdatabasehome/javascript/jquery.multiselect.js') }}'></script>
	<script type='text/javascript' src='{{ asset('bundles/tvdatabasehome/javascript/dropdownchecklist.js') }}'></script>
	<script type='text/javascript' src='{{ asset('bundles/tvdatabasehome/javascript/searchForm.js') }}'></script>
{% endblock %}

{% block bodyopen %}
	<body onload='bodyLoad()'>
{% endblock %}

{% block mainmany %}
	<li><a href="/">Home</a></li>
	<li class="current_page_item" ><a href="/tvstations">Tv Stations</a></li>
	<li><a href="/advancedsearch">Advanced Search</a></li>
{% endblock %}

{% block content %} 
	<div id="stations_table">
	<div>{{ date.today }}</div>
	<div id="date-next"><a href="/tv/{{ tv.TvId }}/{{ date.yesterday }}">Yesterday</a></div>
	<div id="date-prev"><a href="/tv/{{ tv.TvId }}/{{ date.tomorrow }}">Tomorrow</a></div>
	<form action="/tv/{{ tv.TvId }}" method="post">
	<table>
    	<tr>
    	    <td>
    	        <label>Select date:</label></td>
    	    <td>
    	        <input type='text' id='startDate' name='startDate'></td>
    	    <td>
    	        <input type='submit' value='Search'></td>
    	</tr>
	</table>
	</form>
	<div>
	</div>
		<table>
			<tr>
				<th>{{ tv.TvName }}</th>
			</tr>
			{% for attribute in results %}
				<tr>
					<td>{{ attribute.time }}</td>
					<td><a href="/show/{{attribute.id}}">{{ attribute.name }}</td>
				</tr>			
			{% endfor %}
		</table>
	</div>
{% endblock %}

 
