{% extends '::base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/tvdatabasehome/css/stations.css') }}" />
{% endblock %}

{% block script %}

{% endblock %}

{% block content %} 
	<div id="stations_table">
	<div>{{ date.today }}</div>
	<div id="date-next"><a href="/tv/{{ tv.TvId }}/{{ date.yesterday }}">Yesterday</a></div>
	<div id="date-next"><a href="/tv/{{ tv.TvId }}/{{ date.tomorrow }}">Tomorrow</a></div>
		<table>
			<tr>
				<th>{{ tv.TvName }}</th>
			</tr>
			{% for attribute in results %}
				<tr>
					<td>{{ attribute.time }}</td>
					<td><a href="/show/{{attribute.id}}">{{ attribute.name }}</td>
				</tr>			
			{% endfor %}
		</table>
	</div>
{% endblock %}

 
