{% extends '::base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/tvdatabasehome/css/stations.css') }}" />
{% endblock %}

{% block script %}

{% endblock %}

{% block mainmany %}
	<li >
	<a href="{{ path('tv_database_home_homepage')}}">{% trans %}Home{% endtrans %}</a></li>
	<li>
	<a href="{{ path('tv_database_stations_page')}}">{% trans %}Tv Stations{% endtrans %}</a></li>
	<li>
	<a href="{{ path('tv_database_program_page') }}">{% trans %}Detailed View{% endtrans %}</a></li>
	<li>
	<a href="{{ path('tv_database_search') }}">{% trans %}Search{% endtrans %}</a></li>
{% endblock %}

{% block content %} 
	<div id="show">

		{% for attribute in entity.attributes %}
			<div id="{{ attribute.attributeMeta.AttributeName }}">
			{% if attribute.attributeMeta.AttributeName == "Link" %}
				<a href={{ attribute.Value }}> link </a>
				<a href="{{ path('tv_database_edit_attribute', {'attribute' : attribute.ValueId}) }}">edit</a>
			{% elseif attribute.attributeMeta.AttributeName == "Picture" %}
				<img src={{ attribute.Value }}>
				<a href="{{ path('tv_database_edit_attribute', {'attribute' : attribute.ValueId}) }}">edit</a>
			{% else %}
				{{ attribute.AttributeMeta.AttributeName }}: {{ attribute.Value }} 
				<a href="{{ path('tv_database_edit_attribute', {'attribute' : attribute.ValueId}) }}">edit</a>
			{% endif %}
			</div>
		{% endfor %}

	</div>
	<div>
	<a href="{{ path('tv_database_add_attribute', {'entity' : entity.EntityId}) }}">
	{% trans %}add new{% endtrans %}
	</a></div>
{% endblock %}

  
