

<table id=sidebarTable class='sidebarTable'>
	<tr class='sidebarTr'>
		<th class='sidebarTd'>{% trans %} TV {% endtrans %}</th>
		<th class='sidebarTd'>{% trans %} Time {% endtrans %}</th>
		<th class='sidebarTd'>{% trans %} Broadcast {% endtrans %}</th>
	</tr>
{% for result in results %}
	<tr class='sidebarTr'> 
		<td class='sidebarTd'>
		<a href="{{ path('tv_database_show_tv', {'id' : result.tv.TvId}) }}">
		{{ result.tv.TvName }}
		</a></td>
		<td class='sidebarTd'>{{ result.datetime.format('H:i') }}</td>
		<td class='sidebarTd'>
		{% for attribute in result.attributes %}
					{% if attribute.AttributeId == 7 and attribute.AttributeSetId == 1 %}
					<a href="{{ path('tv_database_show_broadcast', {'id' : result.entityId}) }}"> 
						{{ attribute.Value }} 
					{% endif %}
				{% endfor %}
		</a></td>
	</tr>
{% endfor %}
</table>